<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="Design Patterns">
            <directory suffix="Test.php">Behavioral/*/Tests</directory>
            <directory suffix="Test.php">Compound/*/Tests</directory>
            <directory suffix="Test.php">Creation/*/Tests</directory>
            <directory suffix="Test.php">More/*/Tests</directory>
            <directory suffix="Test.php">Structural/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Behavioral/</directory>
            <directory suffix=".php">Compound/</directory>
            <directory suffix=".php">Creation/</directory>
            <directory suffix=".php">Structural/</directory>

            <exclude>
                <directory suffix="Test.php">Behavioral/*/Tests</directory>
                <directory suffix="Test.php">Compound/*/Tests</directory>
                <directory>Compound/MVC/Public/</directory>
                <directory>Compound/MVC/Template/</directory>
                <directory suffix="Test.php">Creation/*/Tests</directory>
                <directory suffix="Test.php">More/*/Tests</directory>
                <directory suffix="Test.php">Structural/*/Tests</directory>
            </exclude>
        </whitelist>

        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/phpunit_coverage/html" />
    </logging>
</phpunit>
